.react-quiz-container {
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.react-quiz-container > div > h2 + div {
  display: none;
}

.react-quiz-container .questionWrapper .btn {
  margin: 10px auto;
}

.react-quiz-container .questionWrapper .btn {
  margin: 10px auto;
}

.incorrect {
  background-color: blue;
}

.questionModal + div {
  display: none;
}

.tag-container {
  display: none;
}

ul.wide-spaced-list > li {
  margin-top: 1.5em;
}

input.remind-date-picker {
  margin: 0.3em;
}
button.StyledButton-sc-323bzc-0 {
  vertical-align: -30%;
}

.start-over > Button {
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #D9D9D9;
  color: #606060;
  font-weight: normal;
}
