.react-quiz-container {
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.react-quiz-container > div > h2 + div {
  display: none;
}

.react-quiz-container .questionWrapper .btn {
  margin: 10px auto;
}

.react-quiz-container .questionWrapper .btn {
  margin: 10px auto;
}

.incorrect {
  background-color: blue;
}

.questionModal + div {
  display: none;
}

.tag-container {
  display: none;
}

ul.wide-spaced-list > li {
  margin-top: 1.5em;
}

ul.arrow-list {
  position: relative;
  list-style: none;
}

ul.arrow-list > li::before {
  content: '🠶';
  position: absolute;
  left: 0;
}

input.remind-date-picker {
  margin: 0.3em;
}