{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- This is where the main body of the main page will go -- feel free to delete all this -->
<div>
  <h1>COVIDCoach Placeholder</h1>
</div>

<!-- Navbar inclusion to come -->
<div>
  <ul>
    <li>
      <a href="{{ url_for('index') }}">Home</a>
    </li>
    <li>
      <a href="{{ url_for('info') }}">Info</a>
    </li>
    <li>
      <a href="{{ url_for('reminders') }}">Reminders</a>
    </li>
    <li>
      <a href="{{ url_for('social_distancing') }}">Social Distancing</a>
    </li>
    <li>
      <a href="{{ url_for('should_i_go_out') }}">Should I Go Out?</a>
    </li>
  </ul>
</div>

<div>
  <p>
    Don't worry, it'll be much prettier soon :)
  </p>
</div>

{% endblock %}

<!-- Footer inclusion to come -->